<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fan.photo.dao.PictureDao">

    <resultMap id="BaseResultMap" type="com.fan.photo.entity.Picture">
        <!--@Table picture-->
        <result property="picId" column="pic_id" jdbcType="INTEGER"/>
        <result property="picName" column="pic_name" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="OTHER"/>
        <result property="favorite" column="favorite" jdbcType="INTEGER"/>
        <result property="photoId" column="photo_id" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="delState" column="del_state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateBatchIds" >
        update picture
        set del_state = #{delState}
        where pic_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </update>
   <!-- &lt;!&ndash;查询单个&ndash;&gt;
    <select id="queryById" resultMap="BaseResultMap">
        select
          pic_id, pic_name, path, file_size, favorite, photo_id, state, type, del_state, create_time, update_time, user_id, remark
        from xc.picture
        where pic_id = #{picId}
    </select>

    &lt;!&ndash;查询指定行数据&ndash;&gt;
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          pic_id, pic_name, path, file_size, favorite, photo_id, state, type, del_state, create_time, update_time, user_id, remark
        from xc.picture
        limit #{offset}, #{limit}
    </select>

    &lt;!&ndash;通过实体作为筛选条件查询&ndash;&gt;
    <select id="queryAll" resultMap="BaseResultMap">
        select
          pic_id, pic_name, path, file_size, favorite, photo_id, state, type, del_state, create_time, update_time, user_id, remark
        from xc.picture
        <where>
            <if test="picId != null">
                and pic_id = #{picId}
            </if>
            <if test="picName != null and picName != ''">
                and pic_name = #{picName}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize}
            </if>
            <if test="favorite != null">
                and favorite = #{favorite}
            </if>
            <if test="photoId != null">
                and photo_id = #{photoId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="delState != null">
                and del_state = #{delState}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    &lt;!&ndash;新增所有列&ndash;&gt;
    <insert id="insert" keyProperty="picId" useGeneratedKeys="true">
        insert into xc.picture(pic_name, path, file_size, favorite, photo_id, state, type, del_state, create_time, update_time, user_id, remark)
        values (#{picName}, #{path}, #{fileSize}, #{favorite}, #{photoId}, #{state}, #{type}, #{delState}, #{createTime}, #{updateTime}, #{userId}, #{remark})
    </insert>

    &lt;!&ndash;通过主键修改数据&ndash;&gt;
    <update id="update">
        update xc.picture
        <set>
            <if test="picName != null and picName != ''">
                pic_name = #{picName},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize},
            </if>
            <if test="favorite != null">
                favorite = #{favorite},
            </if>
            <if test="photoId != null">
                photo_id = #{photoId},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="delState != null">
                del_state = #{delState},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where pic_id = #{picId}
    </update>

    &lt;!&ndash;通过主键删除&ndash;&gt;
    <delete id="deleteById">
        delete from xc.picture where pic_id = #{picId}
    </delete>
-->
</mapper>